<nav class="pagination">
  {{#if canStepBackward}}
    <span class="first">
      <a href="javascript:return false;" {{action "pageClicked" pageItems.firstObject.page}}>« First</a>
    </span>
    <span class="prev">
      <a href="javascript:return false;" {{action "incrementPage" -1}}>‹ Prev</a>
    </span>
  {{/if}}

  {{#each item in pageItems}}
    {{#if item.current}}
      <span class="page current">{{item.page}}</span>
    {{else}}
      <span class="page">
        <a href="javascript:return false;" {{action "pageClicked" item.page}}>{{item.page}}</a>
      </span>
    {{/if}}
  {{/each}}

  {{#if canStepForward}}
    <span class="next">
      <a href="javascript:return false;" {{action "incrementPage" 1}}>Next ›</a>
    </span>

    <span class="last">
      <a href="javascript:return false;" {{action "pageClicked" pageItems.lastObject.page}}>Last »</a>
    </span>
  {{/if}}

</nav>