<div class="class-definition panel">
  <div class="page-header">
    <h3>{{name}} <small>Class</small></h3>
  </div>

  <div class="well well-small">
    {{#if uses}}
      <div class="uses">
        Uses
        <ul class="inline commas">
          {{#uses}}
            <li><a href="{{.}}.html">{{.}}</a></li>
          {{/uses}}
        </ul>
      </div>
    {{/if}}

    {{#if extends}}
      <div class="extends">
        <p>Extends {{#crossLink extends}}{{/crossLink}}</p>
      </div>
    {{/if}}

    {{#if foundAt}}
      <div class="foundat">
        <p>Defined in: <a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a></p>
      </div>
    {{/if}}


<!--
    {{#if module}}
        {{#if submodule}}
            Module: {{#crossLinkModule submodule}}{{/crossLinkModule}}<br>
            Parent Module: {{#crossLinkModule module}}{{/crossLinkModule}}
        {{else}}
            Module: {{#crossLinkModule module}}{{/crossLinkModule}}
        {{/if}}
    {{/if}}
 -->


    {{#if since}}
        <p>Available since {{since}}</p>
    {{/if}}
  </div>

  {{#if deprecated}}
    <div class="well well-small">
      <p>
      {{#if deprecationMessage}}
        <strong>Deprecated:</strong> {{deprecationMessage}}
      {{else}}
        This class is deprecated.
      {{/if}}
      </p>
    </div>
  {{/if}}

  <div class="well well-small">
    {{{classDescription}}}
  </div>

  {{#is_constructor}}
    <div class="constructor">
      <h2>Constructor</h2>
      {{>method}}
    </div>
  {{/is_constructor}}
</div>

<div class="panel">
  <ul class="tabs" data-tab>
    {{#if methods}}
      <li class="tab-title"><a href="#methods">Methods</a></li>
    {{/if}}
    {{#if properties}}
      <li class="tab-title"><a href="#properties">Properties</a></li>
    {{/if}}
    {{#if attrs}}
      <li class="tab-title"><a href="#attrs">Attributes</a></li>
    {{/if}}
    {{#if events}}
      <li class="tab-title"><a href="#events">Events</a></li>
    {{/if}}
  </ul>
</div>

<div class="">
  <div class="tabs-content">
    {{#if methods}}
      <div class="content" id="methods">
        <h2>Methods</h2>
        <div class="switch round tiny private-toggle">
          <input id="show-private-methods" type="checkbox">
          <label for="show-private-methods"></label>
          <h6>Show Private Methods</h2>
        </div>

        {{#methods}}
{{>method}}
        {{/methods}}
      </div>
    {{/if}}


    {{#if properties}}
      <div id="properties" class="content">
        <h2>Properties</h2>
        <div class="switch round tiny private-toggle">
          <input id="show-private-properties" type="checkbox">
          <label for="show-private-properties"></label>
          <h6>Show Private Properties</h2>
        </div>

        {{#properties}}
          {{>props}}
        {{/properties}}
      </div>
    {{/if}}


    {{#if attrs}}
      <div id="attrs" class="content">
        <h2>Attributes</h2>
        <div class="switch round tiny private-toggle">
          <input id="show-private-attributes" type="checkbox">
          <label for="show-private-attributes"></label>
          <h6>Show Private Attributes</h2>
        </div>

        {{#attrs}}
          {{>attrs}}
        {{/attrs}}
      </div>
    {{/if}}

    {{#if events}}
      <div id="events" class="content">
        <h2>Events</h2>
        <div class="switch round tiny private-toggle">
          <input id="show-private-events" type="checkbox">
          <label for="show-private-events"></label>
          <h6>Show Private Events</h2>
        </div>

        {{#events}}
          {{>events}}
        {{/events}}
      </div>
    {{/if}}
  </div>
</div>
